@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root {
    --blackest: #000;
    --black: #222;
    --white: #fff;
    --my-photo: url("../images/header/my-photo.jpg");
    --telegram: url("../images/header/telegram.svg");
    --site: url("../images/header/site.svg");
    --github: url("../images/header/github.svg");
    --mail: url("../images/header/email.svg");
    --location: url("../images/header/location-pin.svg");
}

body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
    font-weight: inherit;
    font-size: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 74.375rem;
    margin: auto;
    overflow-x: hidden;
    padding: 2.25rem 3.75rem 0;
    color: var(--black);
    font-family: 'Inter', sans-serif;
    border: 0.0625rem solid var(--blackest);
}

.header {
    display: inline-flex;
    width: 100%;
    padding: 0 4rem;
    border-bottom: 0.0625rem solid var(--blackest);
    gap: 2rem;
}

.header__my-photo {
    position: relative;
    width: 12.25rem;
    height: 14.25rem;
}

.header__my-photo::before {
    position: relative;
    right: 0;
    bottom: 0;
    background: var(--my-photo) no-repeat -450px -340px;
    content: "";
    display: inline-block;
    width: 12.25rem;
    height: 13.25rem;
    border-radius: 1.5rem;
    transition: height .7s ease,
        width .7s ease,
        right .7s ease,
        bottom .7s ease;
}

.header__my-photo:hover::before {
    bottom: 1.5rem;
    right: 1.5rem;
    height: 15rem;
    width: 14rem
}

.header__my-info {
    display: flex;
    flex-direction: column;
    max-width: 33.4375rem;
    gap: .375rem;
}

.header__my-contact {
    position: relative;
    left: 10rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.my-contact__info {
    display: flex;
    flex-direction: column;
}

.my-contact_telegram::before {
    position: relative;
    left: .0625rem;
    margin-right: .2rem;
    content: var(--telegram);
    vertical-align: middle;
}

.my-contact_mail::before {
    position: relative;
    left: .2rem;
    margin-right: .45rem;
    content: var(--mail);
    vertical-align: middle;
}

.my-contact_site::before {
    margin-right: .3rem;
    content: var(--site);
    vertical-align: middle;
}

.my-contact_github::before {
    position: relative;
    left: .25rem;
    margin-right: .7rem;
    content: var(--github);
    vertical-align: middle;
}

.my-contact_location {
    margin-top: 1.2rem;
}

.my-contact_location::before {
    position: relative;
    left: .2rem;
    margin-right: .5rem;
    content: var(--location);
    vertical-align: middle;
}

.my-contact__item {
    text-shadow: 0 0 0;
    transition: text-shadow .3s ease;
}

.my-contact__item:hover {
    text-shadow: 0 0 0.125rem var(--blackest);
}

.info {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 22.625rem;
    padding: 3.125rem 1.375rem 3.75rem 0;
    border-right: 0.0625rem solid var(--blackest);
    gap: 3rem;
}

.info__education {
    display: flex;
    flex-direction: column;
    max-width: 18.125rem;
    gap: .5rem;
}

.info__skills {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.skills__list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.1875rem
}

.skills__item {
    padding: 8px;
    ;
    border-radius: 7px;
    border: 1px solid var(--blackest);
    background-color: inherit;
    color: inherit;
    cursor: default;
    transition: background-color .2s ease, color .2s ease;
}

.skills__item:hover {
    background-color: var(--blackest);
    color: var(--white);
}

.text_size-13 {
    font-size: 13px;
}

.text_size-14 {
    font-size: 14px;
}

.text_size-15 {
    font-size: 15px;
}

.text_size-16 {
    font-size: 16px;
}

.text_size-18 {
    font-size: 18px;
}

.text_size-22 {
    font-size: 22px;
}

.text_size-26 {
    font-size: 26px;
}

.text_size-38 {
    font-size: 38px;
}

.text_capitalize {
    text-transform: capitalize;
}

.text_capitalize-fletter::first-letter {
    text-transform: uppercase;
}

.text_regular {
    font-weight: 400;
}

.text_medium {
    font-weight: 500;
}

.text_bold {
    font-weight: 700;
}

.text_margin {
    margin-bottom: .5rem;
}